*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f8f8f8;
    color: #1e1ef2;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0,0, 0.2);
}
button{
    border: none;
    padding: 10px 20px;
    background: #1e1ef2;
    border-radius: 5px;
    font-size: 1.2rem;
}
nav{
    display: flex;
    margin: 0 auto;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.logo{
    font-size: 2.5rem;
    font-family: 'Rubik Moonrocks', cursive;
    color: #000;
}
.form input{
    outline: none;
    border: 1px solid rgba(0, 0,0, 0.2);
    border-radius: 3px;
    background: #fff;
    padding: 5px 10px;
    color: #000;
}
.form label{
    margin-right: 20px;
}
.content{
    width: 90vw;
    margin: 20px auto;
}
fieldset{
    padding: 20px;
}