*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f8f8f8;
    color: #1e1ef2;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0,0, 0.2);
}
button{
    border: none;
    padding: 10px 20px;
    background: #1e1ef2;
    color: #dad5e1;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
nav{
    display: flex;
    margin: 0 auto;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.logo{
    font-size: 2.5rem;
    font-family: 'Rubik Moonrocks', cursive;
    color: #000;
}
.form input{
    outline: none;
    border: 1px solid rgba(0, 0,0, 0.2);
    border-radius: 3px;
    background: #fff;
    padding: 5px 10px;
    color: #000;
}
.form label{
    margin-right: 20px;
}
.content{
    width: 90vw;
    margin: 40px auto;
}
fieldset{
    margin: 10px 0 0;
    padding: 30px 20px;
    border: 1px solid #1e1ef2;
    border-radius: 5px;
}
fieldset button{
    margin-top: 10px;
}
legend{
    padding: 2px 5px;
    background: #fff;
    border: 1px solid rgba(0, 0,0, 0.2);
    border-radius: 3px;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
table{
    border: 1px solid #1e1ef2;
    width: calc(90vw/3);
    border-radius: 5px;
    padding: 20px;
}
caption{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
th, td {
  padding: 5px 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
.yearly{
    width: 90vw;
    margin: 50px auto;
}
.yearly table{
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 1200px){
    table{
        width: 100%;
    }
    .form{
        width: 100%;
    }
}
.totals td{
    border-bottom: none;
}
.totals{
    /* background: #fff; */
    /* color: #000; */
    font-size: 1.2rem;
    font-weight: bold;
}
.op{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}
.btnPrice{
    margin-top: 10px;
}
.op h3{
    margin: 5px 0;
}